.add_task_container {
    display: flex;
    margin: 15px 0;
    max-width: 100%;
}

.add_task_input {
    border: none;
    background-color: #4444;
    border-radius: 5px;
    color: #eee;
    flex: 2;
    font-size: 16px;
    height: 40px;
    padding: 0 10px;
}

.add_task_button_container {
    flex: 1;
    margin-left: 10px;
}